#form.w3-container.w3-content.w3-padding-64(style='max-width:800px')
    form(method='POST' action='/send_form')
        div.form-group
        label(for='name') Nom:
            input.w3-input.w3-border#name.form-control(type='text', name='name' required)
        p.label(for='email') Adresse mail:
            input.w3-input.w3-border#mail.form-control(type='email', name='email' required)
        p.label(for='message') Message:
            input.w3-input.w3-border#mail.form-control(style="height:300px;", type='text', name='message' required)
        p.w3-center
            button.custom-red.w3-border.w3-button(type='submit', style="background-color:white") Submit