<!-- Navbar-->
<div class="w3-top">
  <ul class="w3-navbar w3-white w3-card-2 w3-left-align">
    <li class="w3-hide-medium w3-hide-large w3-opennav w3-right"><a href="javascript:void(0);" onclick="navFunction()"
        title="Toggle Navigation Menu" class="w3-red w3-padding-large"><i class="fa fa-bars"></i></a></li>
    <li><a href="/#accueil" class="w3-hover-none custom-red w3-hover-text-grey w3-padding-large">ACCUEIL</a></li>
    <li class="w3-hide-small"><a href="/#spectacle"
        class="w3-hover-none custom-red w3-hover-text-grey w3-padding-large">LE SPECTACLE</a></li>
    <li class="w3-hide-small"><a href="/#calendar"
        class="w3-hover-none custom-red w3-hover-text-grey w3-padding-large">CALENDRIER</a></li>
    <li class="w3-hide-small w3-dropdown-hover"><a href="javascript:void(0)" title="More"
        class="w3-hover-none custom-red w3-padding-large"><i class="fa fa-caret-down"></i></a>
      <div class="w3-dropdown-content w3-white w3-card-4"><a href="/users" class="custom-red">BIO</a><a href="/media"
          class="custom-red">MEDIA</a>

      </div>
    </li>
  </ul>
</div>
<!-- Navbar on small screens-->
<div id="navDemo" style="margin-top:46px" class="w3-hide w3-hide-large w3-hide-medium w3-top">
  <ul class="w3-navbar w3-left-align w3-black collapse navbar-collapse">
    <li><a href="/#spectacle" onclick="navFunction()" class="w3-padding-large w3-button w3-bar-item">LE SPECTACLE</a>
    </li>
    <li><a href="/#calendar" onclick="navFunction()" class="w3-padding-large w3-button w3-bar-item">CALENDRIER</a></li>
    <li><a href="/users" onclick="navFunction()" class="w3-padding-large w3-button w3-bar-item">BIO</a></li>
    <li><a href="/media" onclick="navFunction()" class="w3-padding-large w3-button w3-bar-item">MEDIA</a></li>
  </ul>
</div>