doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet", href="css/w3.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="font/css/font-awesome.min.css")
    link(rel="stylesheet", href="font/fonts/fontawesome-webfont.woff2")
    link(rel="stylesheet", href="font/fonts/fontawesome-webfont.woff")
    link(rel="stylesheet", href="font/fonts/fontawesome-webfont.ttf")

  body
    block content
    script(src='/javascripts/script.js')

    