extends layout

block content
    include header
    #bio.w3-content(style="max-width:2000px;margin-top:80px")
    .w3-display-container.w3-center
        img.responsive-img(style ="max-width:800px", src='images/Julien BERTRAND 0766449020 pl12.jpg')
     
    include bio/bio
    include footer