@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=League+Spartan:wght@400;600&display=swap');

body {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
}

.custom-red {
  color: #FF3131;
}

a:hover {
  color: #FF3131;
  font-weight: bold;
}


.bg-red {
  background-color: #FF3131;
  color:black;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: 'League Spartan', sans-serif;
 
}

h1,h2{
  font-weight: bold;
}

.custom-margin-block {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.responsive-img {
    width: 60%
} 

.row-img {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column-img {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column-vid {
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column-vid video{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.column-img img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
}

@media screen and (max-width: 600px) {   
    .responsive-img{
      width: 100%
    } 
    .column-img {
      flex: 50%;
      max-width: 50%;
    }
    .column-vid {
      flex: 100%;
      margin-bottom: 2px;
      max-width: 100%;
    }
}

th, td {
  border-bottom: 1px solid #ddd;
}



td {
  text-align: center;
  color:black
}

/* table {
  border-collapse: collapse;
  width: 90%;
}  */




@media screen and (max-width: 1200px) and (min-width: 601px) {   
  .responsive-img{
    width: 80%
  } 
  .column-img {
    flex: 50%;
    max-width: 50%;
  }
}


.flex{
  display: flex;
  flex-wrap: wrap;
}

/* CSS for error page*/
@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans");
main {
  height: 100vh;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Merriweather Sans', sans-serif; }
  main #errorText {
    font-size: 22px;
    margin: 14px 0; }
  main #errorLink {
    font-size: 20px;
    padding: 12px;
    border: 1px solid;
    color: #000;
    background-color: transparent;
    text-decoration: none;
    transition: all 0.5s ease-in-out; }
    main #errorLink:hover, main #errorLink:active {
      color: #fff;
      background: #000; }
  main #g6219 {
    transform-origin: 85px 4px;
    animation: an1 12s .5s infinite ease-out; }

@keyframes an1 {
  0% {
    transform: rotate(0); }
  5% {
    transform: rotate(3deg); }
  15% {
    transform: rotate(-2.5deg); }
  25% {
    transform: rotate(2deg); }
  35% {
    transform: rotate(-1.5deg); }
  45% {
    transform: rotate(1deg); }
  55% {
    transform: rotate(-1.5deg); }
  65% {
    transform: rotate(2deg); }
  75% {
    transform: rotate(-2deg); }
  85% {
    transform: rotate(2.5deg); }
  95% {
    transform: rotate(-3deg); }
  100% {
    transform: rotate(0); } }
