
<div id="calendar" class="bg-red">
  <div style="max-width:800px" class="w3-container w3-content w3-padding-64">
    <h2 class="w3-wide w3-center">CALENDRIER</h2>
    <p class="w3-opacity w3-center"><i style="font-weight:bold">Pensez à résever : places limitées !</i></p><br/>
    <div class="w3-responsive">
      <table class="w3-table-all w3-card-4 w3-striped">
        <thead>
          <tr style="font-weight:bold; font-size:24px; background-color:lavenderblush;" class="custom-red">
            <th class="w3-center">DATE</th>
            <th class="w3-center">HEURE</th>
            <th class="w3-center">LIEU</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</div>
                    