
#spectacle.w3-container.w3-content.w3-center.w3-padding-64(style='max-width:800px')
    h1.w3-center.custom-margin-block(style="font-weight:bold;") Julien Bertrand
    p.custom-margin-block.w3-center dans

    h1(style="font-size:50px;font-weight:bold;").w3-wide
        p.custom-margin-block.custom-red JULIEN + 1
        h3.w3-center DE L’IMPRO AVEC UN·E INVITÉ·E SURPRISE…

    .w3-justify Et si la surprise… c’était vous ?
        p Un jour, Julien n’a pas eu de partenaire pour l’accompagner sur scène… et il s’est rappelé le spectacle incroyable de Neil Curran, célèbre improvisateur irlandais, qui avait convaincu une récalcitrante dame à venir sur scène et improviser presqu’une heure entière…
        p La magie de la scène révèle, avec la bonne dose d’énergie, que tout un chacun a une histoire, et qu’elle est drôle, touchante, toujours fascinante.
        p En invitant sur scène avec bienveillance un membre du public qui n’a jamais vu ou jamais fait d’improvisation, Julien crée un espace d’intimité qui illumine les non-comédien·nes et permet aux histoires de se développer. Deux chaises et une cloche suffisent pour que Julien prenne les rênes et s’occupe de tout tandis que l’invité·e n’a plus qu’à jouer un minimum (ou maximum !).
        p Les scènes s’enchaînent rapidement, et les invité·es restent entre 10 et 30 minutes avec le comédien, au gré de l’improvisation qui se déroule.
